<h2>Products</h2>

<section>
    <div class="container-handlebars">
        {{#if products.length}}
        {{#each products}}
        <div class="card-handlebars">
            <p class="title-handlebars">{{title}}</p>
            <p class="description-handlebars">{{description}}</p>
            <p class="price-handlebars">${{price}}</p>
        </div>
        {{/each}}
        {{else}}
        <p>no tenemos productos</p>
        {{/if}}
    </div>
</section>

{{!--
<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="index.js" charset="utf-8"></script> --}}