<h2>Products added</h2>

<section>
    <ul id="list-of-products">
        
    </ul>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/Challenges/04-Fourth-deliverable-challenge/src/public/index.js"></script>