<h2>Products</h2>

<section>
    <div id="container-socket">

        <button id='btn-remove'>remove product</button>
    </div>
    <form id="form-socket" action="">
        <input id="input-title" name="title" placeholder="add title product" type="text">
        <input id="input-description" name="description" placeholder="add description product" type="text">
        <input id="input-price" name="price" placeholder="add price product" type="number">
        <button id="button-socket" type="">Add</button>
    </form>
</section>


<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="index.js" charset="utf-8"></script>